.App .app-header{
    width: 100%;
    height: 80px;
    background: #ef6c00;
}

.App .app-header .app-title{
    padding: 20px;
}

.App .app-header .app-title .caption{
    font-size: 30px;
    letter-spacing: 1px;
    padding: 2px;
    color: #f1f1f1;
}

.App .app-header .app-title .stage{
    font-size: 12px;
    font-style: italic;
    color: #555555;
}

.App .app-content{
    width: 100%;
    height: 800px;
    background: #eaeaea;
}

.App .app-content .content{
    width: 100%;
    height: 100%;
}

.App .footer{
    width: 100%;
    height: 20%; 
    background: red
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 3;
}

/* Warning dialog */

.overlay .warning-dialog{
    margin: auto;
    width: 350px;
    text-align: center;
    margin-top: 20%;
    height: 150px;
    background: #ffffff;
    border-radius: 2px;
}

.overlay .warning-dialog .header{
    float: left;
    width: 100%;
    padding: 10px;
    background-color: #ef6c00;
}

.overlay .warning-dialog .header .header-title{
    float: left;
    font-size: 14px;
    color: #fefefe;
    text-transform: uppercase;
}

.overlay .warning-dialog .header .d-close{
    float: right;
    font-size: 14px;
    color: #fefefe;
    padding-right: 5px;
    cursor: pointer;
}

.overlay .warning-dialog .content{
    float: left;
    width: 100%;
    padding: 10px;
}

.overlay .warning-dialog .content .time-container .actions{
    float: right;
    padding-top: 34px;
    letter-spacing: 1px;
    font-size: 12px;
}

.overlay .warning-dialog .content .time-container .warning-message{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding-top: 10px;
    color: #555555;
}   

.overlay .warning-dialog .content .time-container .actions button{
    float: right;
    padding: 5px 30px 5px 30px;
    text-transform: uppercase;
    color: #ef6c00;
    border: .5px solid #ef6c00;
}

.overlay .warning-dialog .content .time-container .actions .d-remove{
    float: right;
    padding: 5px 20px 5px 30px;
    text-transform: uppercase;
    cursor: pointer;
    color: #ef6c00;
}



/* Edit/Update Dialog */

.overlay .dialog{
    margin: auto;
    width: 350px;
    text-align: center;
    margin-top: 20%;
    height: 304px;
    background: #ffffff;
    border-radius: 2px;
    color: #ef6c00;
}

.overlay .dialog .header{
    float: left;
    width: 100%;
    padding: 10px;
    background-color: #ef6c00;
    color: #f1f1f1;
}

.overlay .dialog .header .header-title{
    float: left;
    font-size: 14px;
    text-transform: uppercase;
}

.overlay .dialog .header .d-close{
    float: right;
    font-size: 14px;
    padding-right: 5px;
    cursor: pointer;
}

.overlay .dialog .content{
    float: left;
    width: 100%;
    padding: 10px;
}

.overlay .dialog .content .date-container{
    float: left;
    width: 100%;
}

.overlay .dialog .content .date-container .d-date-container{
    float: right;
    text-align: center;
    line-height: 1;
}

.overlay .dialog .content .date-container .d-date-container .d-back{
    float: left;
    text-align: center;
    font-size: 14px;
    padding: 0 5px 0 0;
    cursor: pointer;
    line-height: 4;
}

.overlay .dialog .content .date-container .d-date-container .d-forward{
    float: left;
    text-align: center;
    font-size: 14px;
    padding: 0 0 0 5px;
    cursor: pointer;
    line-height: 4;
}

.overlay .dialog .content .date-container .d-date-container .d-date{
    float: left;
    padding: 0 0 10px 5px;
    font-size: 60px;
    line-height: 1;
}

.overlay .dialog .content .date-container .d-day{
    float: right;
    padding: 0 15px 0 15px;
    font-size: 20px;
    line-height: 1.4;
}

.overlay .dialog .content .title-container{
    float: left;
    height: 50px;
    padding-bottom: 15px;
}

.overlay .dialog .content .title-container input{
    float: left;
    height: 100%;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #555555;
}

.overlay .dialog .content .time-container{
    float: left;
    width: 100%;
}

.overlay .dialog .content .time-container .time-icon{
    float: left;
}

.overlay .dialog .content .time-container .date-time-container{
    float: left;
    background-color: #eeeeee;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.overlay .dialog .content .time-container .date-time-container .dash{
    float: left;
    background-color: #eeeeee;
    width: 10%;
    height: 100%;
    text-align: center;
    line-height: 2.8;
    color: #555555;
}

.overlay .dialog .content .time-container .date-time-container .s-separator{
    float: left;
    background-color: #eeeeee;
    width: 4%;
    height: 100%;
    text-align: center;
    line-height: 2.8;
    color: #555555;
}

.overlay .dialog .content .time-container .date-time-container .e-separator{
    float: left;
    background-color: #eeeeee;
    width: 4%;
    height: 100%;
    text-align: center;
    line-height: 2.8;
    color: #555555;
}

.overlay .dialog .content .time-container .date-time-container .s-hour{
    float: left;
    width: 20%;
    background-color: transparent;
    height: 100%;
    border: none;
    color: #555555;
}

.overlay .dialog .content .time-container .date-time-container .s-minutes{
    float: left;
    width: 20%;
    background-color: transparent;
    height: 100%;
    border: none;
    color: #555555;
}

.overlay .dialog .content .time-container .date-time-container .e-hour{
    float: left;
    width: 20%;
    background-color: transparent;
    height: 100%;
    border: none;
    color: #555555;
}

.overlay .dialog .content .time-container .date-time-container .e-minutes{
    float: left;
    width: 20%;
    background-color: transparent;
    height: 100%;
    border: none;
    color: #555555;
}

.overlay .dialog .content .time-container .date-time-container input:active{
    border: none;
}

.overlay .dialog .content .time-container .actions{
    float: right;
    padding-top: 10px;
    letter-spacing: 1px;
    font-size: 12px;
}

.overlay .dialog .content .time-container .actions button{
    float: right;
    padding: 5px 30px 5px 30px;
    text-transform: uppercase;
    border: .5px solid #ef6c00;
}

.overlay .dialog .content .time-container .actions .d-remove{
    float: right;
    padding: 5px 20px 5px 30px;
    text-transform: uppercase;
    cursor: pointer;
}

.day{
    float: left;
    /* width: 230px; */
    width: 14.28%;
    background-color: #fefefe; 
    padding: 10px 10px 10px 12px; 
    border: 1px solid #eaeaea;
    height: 800px;
}

/* Todo List */
.day .date-header{
    margin-bottom: 15px;
    padding: 0;
    text-align: left;
    color: #ef6c00;
}

.day .date-header .weekday{
    font-size: 19px;
    padding: 0;
    text-align: left;
    letter-spacing: 1px;
}

.day .date-header .date{
    font-size: 40px;
    padding: 0;
    text-align: left;
    line-height: 1;
}

/* Event List Style */

.day ul.event-todo-container{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 680px;
    overflow: scroll;
}

.day .event-todo-container li.event-todo{
    width: inherit;
    padding: 0;
    margin-bottom: 2px;
}

.day .event-todo-container li.event-todo .event-todo-item{
    float: left;
    width: inherit;
    margin-bottom: 2px;
    background: #ffa726;
    padding: 2px 5px 2px 5px;
    color: #f1f1f1;
    border-radius: 2px;
}

.day .event-todo-container li.event-todo .event-todo-item .view{
    float: left;
}

.day .event-todo-container li.event-todo .event-todo-item .view .duration{
    float: right;
    padding: 0px;
    text-align: right;
}

.day .event-todo-container li.event-todo .event-todo-item .view .title{
    text-align: center;
    letter-spacing: 1px;
}

.day .event-todo-container li.event-todo .event-todo-item .event-todo-action{
    float: right;
}

.day .event-todo-container li.event-todo .event-todo-item .event-todo-action .delete{
    font-size: 14px;
    line-height: 2.5;
    cursor: pointer;
}

.day .event-todo-container .event-todo .time{
    color: red;
    font-size: 11px;
    letter-spacing: 1px;
}

.vamus{
    visibility: hidden;
}

.clearfix{
    clear: both;
    height: 0;
}

.clean{
    padding:0;
    margin:0;
}